@media screen and (max-width:760px){
    #wrap{
        width: 100%;
        height: 100%;
        position : relative;
        top : 80px;
    }
    header{
        height: auto;
    }
    #headerWrap{
        height: 80px;
        overflow: hidden;
    }
    #logo{
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }
    #hiddenToggle{
        display: block;
        height: 80px;
        width: 50px;
        font-size: 40px;
        line-height: 80px;
    }
    #mainMenuWrap{
        display: none;
    }
    #hiddenMainMenu{
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 9999;
    }
    .hiddenMainMenuNone{
        display: none;
    }
    #hiddenMainMenuWrap{
        width: 60%;
        position: absolute;
        right: -60%;
    }
    .hiddenMenuX{
        width: 6%;
        float: left;
        font-size: 40px;
        color: rgba(255, 255, 255, .5);
        position: absolute;
        left: -15px;
    }
    #hiddenMainMenu ul{
        width: 94%;
        height: 100vh;
        background-color: #ddd;
        float: right;
    }
    #hiddenMainMenu li{
        width: 100%;
        /* height: 40px; */
        line-height: 40px;
    }
    .hiddenHollys{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .hiddenTopMenu{
        border-bottom: 1px solid rgb(194, 194, 194);
    }
    .hiddenTopMenu div{
        text-align: center;
    }
    .hiddenTopMenu div a{
        font-size: 16px;
    }
    .hiddenTopMenu div span{
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        color: (194, 194, 194);
        position: relative;
        top: -1.6px;
    }
    .hiddenMenu{
        height: 40px;
        overflow: hidden;
    }
    .hiddenMenu > a{
        display: block;
        height: 40px;
        border-bottom: 1px solid rgb(194, 194, 194);
    }
    .hiddenMenuActive{
        background-color: #ba000c;
        color: #fff;
        border-bottom: none;
    }
    .hiddenMenu a{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .hiddenMenu a i{
        float: right;
        margin-top: 15px;        
    }
    .hiddenDepmenu{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .hiddenDepmenu a{
        display: block;
        height: 40px;
        line-height: 40px;
    }
    @media screen and (max-width:460px){
        #wrap{
            top : 60px;
        }
        #headerWrap{
            height: 60px;
        }
        #logo{
            width: 50px;
            height: 50px;
        }
        #hiddenToggle{
            display: block;
            height: 60px;
            width: 50px;
            font-size: 36px;
            line-height: 60px;
        }
        #hiddenMainMenuWrap{
            width: 100%;
        }
        .hiddenMenuX{
            left: 5px;
            color: #666;
        }
        #hiddenMainMenu ul{
            width: 100%;
        }

        #mainBoardWrap{
            height: 60px;
        }
        #mainBoardMask{
            top: 15px;
        }
        #mainBoard li{
            font-size: 0.825rem;
        }

        
        #hollysMenu{
            margin-top: 35px;
        }
        #hollysMenuWrap{
            margin-bottom: 35px;
        }
        .title h2 {
            font-size: 18px;
        }
        .imgWrapTxt{
            font-size: 1rem;
        }
        .imgWrap{
            width: calc(100% * 6) !important;
        }


        #hollysMdPick{
            margin-top: 35px;
        }
        #hollysMdPickWrap{
            margin-bottom: 35px;
        }
    }




    /* HOLLYS MENU Start */
    .imgWrap{
        width: calc(50% * 6);
        display: flex;
        position: relative;
        left: 0;
    }
    /* HOLLYS MENU End */
   
    

    /* hollysSearch Start */
    #hollysSearch{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: #fbf4e8;
    }
    #hollysSearchWrap{
        width: 90%;
        margin-left: 5%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .hollysSearchLeft, .hollysSearchRight{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin-top: 0;
    }
    .hollysSearchLeft{
        margin-top: 50px;
    }
    .hollysSearchLeft img{
        width: 90%;
        position: static;
        top: 0;
        margin-left: 5%;
    }
    .hollysSearchTxt{
        position:static;
        top: 20px;
        text-align: center;
        left: 0;
        width: 100%;
    }
    .hollysSearchTxt span{
        font-size: 0.93rem;
        font-weight: 400;
    }
    .hollysSearchTxt h2{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 15px;
        color: #b20839;
    }
    .hollysSearchTxt p{
        font-size: 0.93rem;
        letter-spacing: -.8px;
        font-weight: 400;
        margin-top: 35px;
        line-height: 140%;
    }
    .searchBtn{
        position:static;
        display: flex;
        bottom: 50px;
        width: 100%;
        justify-content: center;
        margin-top: 35px;
    }
    .searchBtn a{
        display: block;
        width: 33.3%;
        max-width: 135px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #b20839;
        margin-right: 0;
        box-sizing: border-box;
    }
    .searchBtn a:nth-child(2){
        border-right: 0;
        border-left: 0;
    }
    .searchBtn a:hover{
        transition-delay: 0s !important;
        transition: .5s;
        background-color: #b20839;
        color: #fff;
    }
    /* hollysSearch End */


    /* InstaWrap Start */    
    #InstaWrap li{
        width: 50%;
        height: auto;
        cursor: pointer;
        overflow: hidden;
    }
    /* InstaWrap End */


    /* FOOTER Start */
    .leftFooter li {
        padding: 1px 3px;
        font-size: 13px;
        letter-spacing: -.5px;
    }
    #bottomFooter p{
        font-size: 13px;
        letter-spacing: -.5px;
    }
    /* FOOTER End */
}