<footer>
    <div id="footerWrap">
        <div id="topFooter">
            <ul class="rightFooter">
                <li class="hollysLive">HOLLYS Live</li>
                <li class="snsImg"><a href="https://www.facebook.com/EnjoyHollys" target="_blank"><img src="/img/facebook.png" alt="facebook"></a></li>
                <li class="snsImg"><a href="https://www.instagram.com/hollyscoffee.official/" target="_blank"><img src="/img/insta.png" alt="인스타그램"></a></li>
                <li class="snsImg"><a href="https://m.blog.naver.com/PostList.nhn?blogId=hollyskr" target="_blank"><img src="/img/blog.png" alt="블로그"></a></li>
            </ul>
            <ul class="leftFooter">
                <li><span>개인정보처리방침</span></li>
                <li><span>서비스이용약관</span></li>
                <li><span>멤버십이용약관</span></li>
                <li><span>할리스카드이용약관</span></li>
                <li><span>고객문의</span></li>
                <li><span>고객설문</span></li>
                <li><span>사이트맵</span></li>
                <li><span>BI 소개</span></li>
            </ul>
        </div>
        <div id="bottomFooter">
            <p>법인명: (주) 케이지할리스에프앤비<span>|</span>대표자: 신유정<span>|</span>사업자등록번호 211-87-61044<span>|</span>통신판매업: 제2019-서울종로-0193호<br>
                주소 : 서울특별시 종로구 율곡로 88 삼환빌딩 8층 (운니동)<span>|</span>대표전화 : 02-2188-7100 (가맹문의 : 02-6350-7229)</p>
            <p>COPYRIGHT (C) KG HOLLYS F&B. All Rights Reserved.</p>
        </div>
    </div>
</footer>